{#
/**
 * @file
 * Default template for a Feedbacks block.
 *
 */
#}
<div class="feedback-items">
    {#
    // Looping records from the database.
    #}
    {% for item in items %}
    <div class="feedback-item">
        <div class="feedback-user">
            <div class="avatar-container">
                <div>
                    <img class="feedback-avatar" src="{{ item.avatar }}" alt="avatar">
                </div>
            </div>
            <h2 class="feedback-name">{{ item.name }}</h2>
            <div class="feedback-timestamp">{{ item.timestamp }}</div>
        </div>

        <div class="feedback-text">
            <p>{{ item.feedback }}</p>
            {% if item.picture != NULL %}
                <a href="{{ item.picture }}" class="picture-link">
                    <div>
                        <img class="feedback-picture" src="{{ item.picture }}" alt="picture">
                    </div>
                </a>
            {% endif %}
        </div>

        <div class="feedback-info">
            <a class="feedback-phone" href="tel:{{ item.phone }}">{{ item.phone }}</a>
            <a class="feedback-email" href="mailto:{{ item.email }}">{{ item.email }}</a>
            {% if user.hasPermission('Delete and edit feedbacks') %}
                <a class="use-ajax feedback-edit" data-dialog-type="modal" href="guestbook/edit/{{ item.id }}?edit=edit">Edit</a>
                <a class="use-ajax feedback-delete" data-dialog-type="modal" href="guestbook/delete/{{ item.id }}">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{#
// Attached library core/drupal.dialog.ajax for popup.
#}
{{ attach_library('core/drupal.dialog.ajax') }}
